/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Heading CSS
3. Container CSS
==========================================*/

/*-------------------------------------
  1. Text CSS
--------------------------------------*/
.ui.text.size-textxs {
  font-size: 13px;
  font-weight: 400;
  font-style: bold;
}

.ui.text.size-texts {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 13px;
  }
}

.ui.text.size-textmd {
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 14px;
  }
}

.ui.text.size-textlg {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 15px;
  }
}

.ui.text.size-textxl {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 17px;
  }
}

.ui.text.size-text2xl {
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 22px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 24px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 22px;
  }
}

.ui.text {
  color: var(--gray_900);
  font-family: Inter;
}

/*-------------------------------------
  2. Heading CSS
--------------------------------------*/
.ui.heading.size-headingxs {
  font-size: 13px;
  font-weight: 700;
  font-style: bold;
}

.ui.heading.size-headings {
  font-size: 14px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-headingmd {
  font-size: 16px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 13px;
  }
}

.ui.heading.size-headinglg {
  font-size: 18px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 15px;
  }
}

.ui.heading.size-headingxl {
  font-size: 20px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 17px;
  }
}

.ui.heading.size-heading2xl {
  font-size: 24px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 22px;
  }
}

.ui.heading.size-heading3xl {
  font-size: 30px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 25px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.ui.heading.size-heading4xl {
  font-size: 35px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 29px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 33px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 31px;
  }
}

.ui.heading.size-heading5xl {
  font-size: 45px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 38px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 41px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 35px;
  }
}

.ui.heading.size-heading6xl {
  font-size: 55px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 46px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 47px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 41px;
  }
}

.ui.heading.size-heading7xl {
  font-size: 65px;
  font-weight: 600;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 65px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 48px;
  }
}

.ui.heading {
  color: var(--gray_900);
  font-family: Inter;
}

/*-------------------------------------
  3. Container CSS
--------------------------------------*/
.container-xs {
  max-width: 1202px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
