/*=========== TABLE OF CONTENTS ===========
1. CSS Variables
2. Utility CSS
==========================================*/

/*-------------------------------------
  1. CSS Variables
--------------------------------------*/
:root {
  /*------Color variables------*/
  --amber_a400: #ffc100;
  --black_900: #000000;
  --blue_gray_200: #b4c0d3;
  --blue_gray_900: #333333;
  --cyan_900: #0f5156;
  --cyan_900_01: #034369;
  --gray_100: #f7f8f5;
  --gray_50: #fafaf3;
  --gray_900: #251600;
  --gray_900_01: #151515;
  --gray_900_02: #3d2400;
  --gray_900_19: #25160019;
  --gray_900_cc: #222222cc;
  --indigo_900: #1a1b6c;
  --indigo_a200: #4875ee;
  --indigo_a200_01: #4876ef;
  --indigo_a200_02: #4876ee;
  --light_blue_900: #095090;
  --light_green_100: #dce1c8;
  --light_green_50: #eef6ef;
  --light_green_500: #8dc63f;
  --orange_a700: #ff6803;
  --orange_a700_33: #ff680333;
  --red_500: #ff2c2c;
  --red_a100: #ef898b;
  --teal_400: #34bc85;
  --teal_900: #0b3a2e;
  --teal_a700: #00d3ab;
  --white_a700: #ffffff;

  /*------Shadow variables------*/
  --shadow-xs: 0 6px 18px 0 #25160019;

  /*------Border radius variables------*/
  --radius-xs: 6px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 20px;
  --radius-2xl: 28px;
  --radius-3xl: 32px;

  /*------Spacing variables------*/
  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 8px;
  --space-lg: 10px;
  --space-xl: 12px;
  --space-2xl: 14px;
  --space-3xl: 16px;
  --space-4xl: 17px;
  --space-5xl: 18px;
  --space-6xl: 20px;
  --space-7xl: 26px;
  --space-8xl: 30px;
}

/*-------------------------------------
  2. Utility CSS
--------------------------------------*/
.flex-col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
